html, body
{
	font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6
{
	font-family: 'Comfortaa', sans-serif;
	color: rgb(0, 126, 255);
	font-weight: 400;
}

section
{
	padding: 15px;
}

.feature
{
	background: rgb(0, 126, 255);
	color: rgb(255, 255, 255);
}

.white
{
	color: rgb(255, 255, 255);
}

.regular
{
	font-weight: 400;
}

.light
{
	font-weight: 300;
}