html, body
{
	font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6
{
	font-family: 'Comfortaa', sans-serif;
	color: rgb(0, 126, 255);
	font-weight: 400;
}

section
{
	padding: 15px;
}

.feature
{
	background: rgb(0, 126, 255);
	color: rgb(255, 255, 255);
}

.white
{
	color: rgb(255, 255, 255);
}

.regular
{
	font-weight: 400;
}

.light
{
	font-weight: 300;
}

.black
{
	color: rgb(0, 0, 0);
}

.product
{
	background: rgb(230, 230, 230);
	padding: 20px;
	margin: 0 0 15px 0;
}

.product > img
{
	width: 100%;
	margin: 0 0 10px 0;
}

.footer
{
	text-align: center;
}

@media (max-width: 1200px)
{
	.product > a
	{
		display: block;
	}

	.product > a:not(:last-child)
	{
		margin-bottom: 5px;
	}
}

@media (min-width: 1201px)
{
	.product > a:not(:last-child)
	{
		margin-right: 5px;
	}
}